interface {{ .ComponentName }}Props {
  className?: string
}

export function {{ .ComponentName }}({ className }: {{ .ComponentName }}Props) {
  return (
    <div className={className}>
      <p>{{ .ComponentName }} component</p>
    </div>
  )
}
