import type { Metadata } from "next";
import { Inter } from "next/font/google";
import "./globals.css";
{{ if .WithDarkMode }}
import { ThemeProvider } from "@/components/theme-provider";
{{ end -}}
const inter = Inter({ subsets: ["latin"] });

export const metadata: Metadata = {
  title: "{{ .Name }}",
  description: "{{ .Description }}",
};

export default function RootLayout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
    <html lang="en">
      <body className={`${inter.className} bg-background text-foreground antialiased`}>{{ if .WithDarkMode }}<ThemeProvider>{children}</ThemeProvider>{{ else }}{children}{{ end }}</body>
    </html>
  );
}
